<div class="row">
	<div class="span3 offset3">
		<div class="well">
			<p>
			  <%= @pin.description %></br></br></p>
			  <p>
			  <%= @pin.user.name %></br></br></p>
			  <% if current_user == @pin.user %>
			  <%= link_to 'Edit', edit_pin_path(@pin) %> |
			  <% end %>
   			  <%= link_to 'Back', pins_path %>
			</p>
		</div>
	</div>
</div>

