<% if user_signed_in? %>
	<h1>You are already signed in!</h1>
</br>
	<%= link_to 'Pins', pins_path %>
<% else %>
	<div class="jumbotron">
	    <h1>Welcome! </h1>
	    <p>to <%= link_to 'One Month Rails',  "http://onemonthrails.com" %>
	     </p>

	    <p> <%= link_to 'Sign up now!',  new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
	</div>
<% end %>