<div class="row">
	<div class="col-md-4">
		<h2>Navigation Bar</h2>
	</div>
	<div class="col-md-8">
		 <h1>Welcome to One Month Rails!</h1>
	<p>
		You've found the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com", class: "btn btn-large btn-primary"%>
		application.
	</p>
	<p>
		<a href="#">Sign up Now!</a>
	</p>
	</div>
</div>
