<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-left">
				<%=link_to "Home", root_path %> 
				<%=link_to "About", about_path %> 
			</ul>
			<ul class="nav pull-right">
				<%=link_to "Home", "#" %> 
			</ul>
		</div>
	</div>
</div>

